.paragraph {
    width: 50%; /* Set paragraph container to 50% width */
    margin-left: 0; /* Align left */
    text-align: left; /* Left-align text */
    padding: 0; /* Optional: remove padding */
}

.book {
    display: flex;
    gap: 50px;
    
}

.book img{
    max-width:100%;
    width: 40%;
    height: auto;
   
}

